<h2 mat-dialog-title>Regitrar nova taxa por hora</h2>

<mat-dialog-content>
  <p><b>Taxa atual</b>: {{ currentHourValue }}</p>
  <form [formGroup]="form">
    <div class="form-group">
      <label for="hourValue">Nova taxa <span style="color:red">*</span></label>
      <input type="number" id="hourValue" class="form-control" formControlName="hourValue" [style.border-color]="invalidRequired('hourValue') ? 'red' : 'black'"/>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <div style="clear: both; width: 100%;">
    <button style="float: right; margin: 2px;" class="btn btn-secondary shadow-none" (click)="close()">Close</button>
    <button style="float: right; margin: 2px;" class="btn btn-primary" (click)="submit(form)">Atualizar</button>
  </div>
</mat-dialog-actions>
